# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.angular/

# Java / Maven
target/
*.class
*.log

# Docker
*.pid

# Env files (never commit secrets)
*.env
.env.local

# LOCAL-ONLY DOCS
/docs/

script.ps1