# OS
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Java / Maven
target/
*.class
*.log

# Docker
*.pid

# Env files (never commit secrets)
*.env
.env.local

# LOCAL-ONLY DOCS
/docs/

script.ps1